body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}
/* fonts */
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);

  font-weight: 700;
  font-style: normal;
}

/* header */
.header {
  text-transform: uppercase;
  box-sizing: border-box;
  /*width: 1660px;*/
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}
/* 
  .header__image {
    height: 450px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
    z-index: 1;
  }
  */
.header::before {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* opacity: .6; */
  z-index: 2;
}

.container {
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}

.header__inner {
  margin-top: 0px;
  display: flex;
}

.menu-list-item {
  display: inline-block;
}

.menu__tab_item {
  display: block;
  border-bottom: 3px solid #ffffff;
  width: 24px;
  margin-bottom: 5px;
}


.menu-list,
.tags-list,
.tags-group,
.categories-list,
.social-list {
  list-style-type: none;
}

.menu-link {
  color: #fff;
  margin: 10px;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

.menu-link:hover {
  text-decoration: underline;
}

.main-header {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-style: normal;
}

/* trends */
.trends {
  margin-top: 60px;
}
.trend-cards {
  display: flex;
}
.trend-card {
  height: 320px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #606260;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.trend-card:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* opacity: .6; */
  z-index: 2;
}
.trend-title {
  text-align: center;
}
.trend__garden {
  background-image: url(../images/trend1.jpg);
}
.trend__cheese {
  background-image: url(../images/trend2.jpg);
}
.trend__hike {
  background-image: url(../images/trend3.jpg);
}
.trend__vitamin {
  background-image: url(../images/trend4.jpg);
  margin: 0;
}
.trend-card__content {
  box-sizing: border-box;
  padding: 35px;
  content: "";
  border: 3px solid #b59f5b;
  z-index: 3;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

/*news__content */
.news {
  display: flex;
}

.news__content {
  display: block;
  left: 0;
}

.card-preview {
  display: flex;
}

.card-one {
  margin-top: 0;
}

.card-five {
  border: none;
}

.card {
  display: inline-block;
}

.tags-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.tags-list-item {
  margin-right: 20px;
}

.card-img {
  display: block;
}

.tags-list {
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 5px;
}

.tags-link {
  color: #b59f5b;
}

.tags-link:hover {
  text-decoration: underline;
}

.title {
  text-transform: uppercase;
  color: #0f0d0e;
  margin: 0;
  line-height: 24px;
  text-decoration: none;
}

.card-name,
.trend-title,
.trend-name {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.trend-name {
  color: #ffffff;
}

.card-name:hover,
.trend-name:hover {
  color: #b59f5b;
}

.card-meta {
  font-size: 12px;
  color: #000;
}

.card-meta__date {
  color: #888888;
  margin-right: 15px;
}

.card-meta__author {
  font-weight: 700;
  font-style: normal;
}

.card-content {
  color: #0f0d0e;
  line-height: 22px;
}

.text {
  width: 367px;
}

/* sidebar */
.sidebar {
  right: 0;
}

.sidebar__element,
.news__content {
  margin-bottom: 60px;
}

.subtitle {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}

.subtitle:after,
.trend-title:after {
  display: block;
  width: 65px;
  content: "";
  border-bottom: 4px solid #b59f5b;
  opacity: 0.4;
  margin: 10px auto 22px;
}

.sidebar-items {
  margin-top: 45px;
}

.sidebar-item {
  display: flex;
  margin-bottom: 20px;
}

.thumb {
  height: 70px;
}
.sidebar-item__meta {
  padding-left: 20px;
}

.sidebar-item__date {
  font-size: 12px;
  opacity: 0.54;
}

.sidebar-item__name {
  line-height: 18px;
  font-size: 14px;
}

.sidebar-item__name:hover {
  color: #b59f5b;
}

/* search */
.search {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
}

.search-field {
  position: absolute;
  box-sizing: border-box;
  width: 82%;
  height: 100%;
  padding: 20px;
  margin: 0;
  border: none;
  font-size: 13px;
  font-family: inherit;
  background-color: #f4f7f6;
}

.search-field:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  position: absolute;
  height: 100%;
  width: 18%;
  border: none;
  background-color: #b59f5b;

  right: 0;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
}

.search-button:hover {
  background-color: #323232;
}

.subscribe-field,
.select {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 20px;
  border: none;
  font-size: 13px;
  font-family: inherit;
  background-color: #f4f7f6;
}

.subscribe-field:focus,
.select:focus {
  outline: 1px solid #b59f5b;
}

.subscribe-button {
  margin-top: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: none;

  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  background-color: #b59f5b;
  color: #ffffff;
}

.subscribe-button:hover {
  background: #323232;
}

.tags-group {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.tags-group-item {
  display: block;
  box-sizing: border-box;
  padding: 5px 12px;
  border: 4px solid #eeeeee;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.tags-group-item:hover {
  border: 4px solid #b59f5b;
}

.tag-link {
  color: #0f0d0e;
}

.categories-list {
  padding: 0;
}
.categories-list-item {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 700;
  padding: 0 5px 30px 0;
}

.categories-list-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 30px;
  background-color: #eeeeee;
}

.categories-link {
  color: #000000;
  font-size: 14px;
  margin-right: 5px;
}

.categories-link:hover {
  color: #b59f5b;
}

.categories-count {
  position: relative;
  top: 0;
  font-size: 12px;
  color: #b59f5b;
  margin-top: -6px;
}

/* shop */
.products {
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.product__preview {
  text-align: center;
}

.product__body {
  box-sizing: border-box;
  margin-top: -40px;
  padding: 55px 20px;
  border: 3px solid #d3c59d;
  height: 260px;
  font-size: 15px;
  line-height: 22px;
}

.product__description {
  margin-top: -10px;
}

.text__link {
  color: #b59f5b;
  text-decoration: none;
}

.text__link:hover {
  text-decoration: underline;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
}

.product__prices {
  display: flex;
  flex-direction: column;
}

.product__price_old {
  text-decoration: line-through;
}

.product__price {
  font-size: 20px;
}

.product__button {
  width: 140px;
  height: 50px;
  padding: 0;
  background-color: #b59f5b;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border: none;
  font-family: "Open Sans";
  font-weight: 700;
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto 40px;
  max-width: 1200px;
}

.social {
  padding-bottom: 73px;
}

.social-list {
  background-color: #f4f7f6;
  display: flex;
  padding: 30px 0;
  justify-content: center;
  margin: 0;
}

.social-list__item {
  display: flex;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin: 0 35px;
}

.social-icon {
  display: block;
  padding: 0;
}

.social-icon__dribbble {
  background-image: url(../svg/001-dribbble.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 25%;
}

.social-icon__pinterest {
  background-image: url(../svg/001-pinterest.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 25%;
}

.social-icon__tumblr {
  background-image: url(../svg/003-tumblr.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 25%;
}

.hidden {
  opacity: 0;
}

.copyrights {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #999999;
  font-weight: 700;
}

/* popup */
.popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.sign-up {
  box-sizing: border-box;
  width: 390px;
  background-color: #fff;
  padding: 50px 30px;
}

.form-group {
  font-size: 13px;
  margin-bottom: 25px;
}

.select-label {
  display: inline-block;
  margin-bottom: 10px;
}

.radio-group {
  margin-right: 15px;
}
.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-size: 15px;
}

.radio:checked + .radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}

.select {
  padding: 15px;
  opacity: 0.54;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.feedback {
  height: 130px;
  vertical-align: top;
  opacity: 0.54;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.popup__close {
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  width: 22px;
  height: 22px;
  position: relative;
  top: -313px;
  right: 17px;
  background-color: transparent;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
}

/* @media */
@media (max-width: 1199px) {
  .header__menu {
    display: none;
  }
  .main-header {
    line-height: 1.38;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
  }
  .card {
    margin-top: 15px;
  }
  .card-preview {
    flex-direction: column;
    border-bottom: 3px solid #ededed;
  }
  .trend-cards {
    flex-wrap: wrap;
  }
  .trend-card {
    margin-bottom: 4px;
  }
}

@media (max-width: 767px) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
    height: 640px;
  }
  .container {
    padding: 30px 15px;
  }
  .header__inner {
    flex-direction: column-reverse;
    align-items: end;
  }
  .header__logo {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
  }
  .menu__tab {
    margin-bottom: 40%;
  }
  .main-header {
    font-size: 26px;
    margin-top: 45px;
  }
  .trend-card {
    width: 100%;
  }
  .content {
    margin: 40px 15px;
  }
  .news {
    flex-direction: column;
  }
  .news__content {
    width: 100%;
  }
  .card-preview {
    margin-top: 35px;
  }
  .card-meta {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .products {
    display: flex;
    flex-direction: column;
  }
  .product {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    height: 390px;
  }
  .container {
    padding: 30px 15px;
  }
  .header__inner {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
  }
  .header__logo {
    width: 160px;
  }
  .main-header {
    font-size: 40px;
    width: 620px;
  }
  .trend-card {
    width: calc(50% - 2px);
  }
  .news {
    justify-content: center;
  }
  .content {
    margin: 50px auto;
    max-width: 768px;
  }
  .trend-card:nth-child(odd) {
    margin-right: 4px;
  }
  .news__content {
    width: 390px;
    margin-right: 30px;
  }
  .card-preview {
    margin-top: 40px;
  }
  .card-meta {
    margin: 35px 0;
  }
  .sidebar {
    width: 270px;
  }
  .products {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product {
    width: 49%;
  }
}

@media (min-width: 1200px) {
  .header {
    background-image: url(../images/banner-bg.jpg);
    height: 450px;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
  }
  .header__inner {
    justify-content: space-between;
    padding: 29px 227px;
  }
  .header__logo {
    width: 179px;
  }
  .menu__tab {
    display: none;
  }
  .main-header {
    font-size: 45px;
    margin: 40px auto;
    line-height: 1.6; /* 75/45 */
    width: 700px;
  }
  .trend-cards {
    flex-wrap: nowrap;
  }
  .trend-card {
    width: 25%;
    margin-right: 4px;
  }
  .content {
    margin: 65px auto;
    padding: 0 15px;
    max-width: 1200px;
  }
  .news {
    justify-content: space-between;
  }
  .news__content {
    width: 66%;
  }
  .card-preview {
    flex-direction: row;
    margin-top: 55px;
  }
  .card {
    margin-left: 30px;
  }
  .card-img {
    width: 380px;
  }
  .card-meta {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .sidebar {
    width: 25%;
  }
  .products {
    justify-content: space-between;
  }
  .product {
    width: 360px;
  }
}